Dataset for Weld Seam Analysis and Discontinuity Prediction for Laser Beam Butt Welding/
dataset_classification/
frames_marcados/
frames_model_input/
frames_visualization/
MS-facq-50Hz-air-cir-1_0-999/
pi-camera-data-127001-2019-10-14T12-41-20.hdf5
resultados/
.ipynb_checkpoints/
